/*...............nav.............*/
.navbar-nav{
    width: 100%;
  
}

ul li{
 margin: auto;

 width: 100%;
}

i {
    padding-right: 5px;
}
.user_block {
    display: inline-block;
    margin: auto;

    text-align: center;

    font-size: 20px;
}

.log_link{
      font-size: 1rem;
color: #7f7f7f;
}


.log_link:hover {
    text-decoration: none;
    font-size: 1rem;
    color: #7f7f7f;
}

.menu {
   
    
   position: absolute;
   right: 1px;

}

.search {
    margin-left: 30px;
}

/*..............index............*/

.game-left{
   margin: 10%;
   color:white;
   padding:5px;
    height: 300px;
    background-image: url(../images/fishs.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.game-right{
    
   margin: 10%;
   margin-top: 25%;
  color:white;
    height: 300px;
    background-image: url(../images/disney-castle.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*..............username............*/

.username{

    margin-top: 20%;
    
}
.form{
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: center;
}

/*..............footer............*/

footer {
    height: 400px;

    text-align: center;
}

.social_media_block {
    padding-top: 20px;

}


.twitter_feed {
    margin: 20px 0px 0px 25px;
}

.fb_feed {
    margin: 25px 0px 0px 0px;
}

/* borrowed code */

.fancy-line {
    border: 0;
    height: 1px;
    position: relative;
    margin: 0.5em 0;
}

.fancy-line:before {
    top: -0.5em;
    height: 1em;
}

.fancy-line:after {
    height: 0.5em;
    top: calc(-0.5em + 1px);
    /* adjusted this */
}

.fancy-line:before,
.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

.fancy-line,
.fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
}

body,
.fancy-line:after {
    background: #ffffff;
}

.filler {
    height: 200px;
}

.pink {
    background-color: pink;
}

.green {
background-color:  green;
color: black;
}
