<!DOCTYPE html>
<html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Disney games</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations.css') }}" type="text/css" />
</head>

<body>
    <div class="row">


        <div class="col-lg-12 container-fluid ">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='images/disney_ears.jpg') }}"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}"><i class="fas fa-home"></i>Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('user') }}"><i class="fas fa-play"></i>Play</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" aria-disabled="true"><i class="fas fa-plus"></i>Contribute</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('user') }}" aria-disabled="true"><i class="fas fa-user"></i>Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" aria-disabled="true"><i class="fas fa-search"></i>Search</a>
                        </li>
                    </ul>


                </div>
            </nav>

        </div>
    </div>

    <div class="fancy-line"></div>
    
    {% block content%} {% endblock %}

    <div class="filler"></div>
    <div class="fancy-line"></div>
    <footer>


        <div class="col-xs-12 social_media_block">
            <img src="{{ url_for('static', filename='images/facebook.png') }}" alt="facebook logo" />
            <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="twitter logo" />
            <img src="{{ url_for('static', filename='images/youtube.png') }}" alt="youtube logo" />
        </div>
        <div class="col-xs-12">
            <img src="{{ url_for('static', filename='images/insta.png') }}" alt="instagram logo" />
            <img src="{{ url_for('static', filename='images/google+.png') }}" alt="google+ logo" />
            <img src="{{ url_for('static', filename='images/pin.png') }}" alt="pininterest logo" />
        </div>



    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/css3-animate-it.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript" src="{{ url_for( 'static', filename='js/bootstrap.min.js' ) }} "></script>

</body>

</html>
