<!DOCTYPE html>
<html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Disney games</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>

<body>
    <div class="row pink">
       

            <div class="col-lg-12 container-fluid ">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand" id="brand" href="index.html"><img src="{{ url_for('static', filename='images/disney_ears.jpg') }}"/></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

                    <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                        <ul class="navbar-nav mx-auto mt-2 mt-lg-0 try">
                            <li class="nav-item active">
                                <a class="nav-link link-style" href="index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link Link-style" href="groups.html">Group Rides</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-style" href="livery.html">Livery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-style " href="lessons.html">Lessons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-style " href="competitions.html">Competitions</a>
                            </li>
                            <li class="nav-item d-lg-none">
                                <a class="nav-link link-style " data-toggle='modal' data-target='#contactModal'>Contact</a>
                            </li>
                        </ul>
                        <span class="navbar-text">
                        <button type="button" class=" d-none d-lg-block  btn btn-success contact-button" data-toggle="modal" data-target="#contactModal">
                      Contact Us
                        </button> <!-- not displayed on xs - m screens as menu is reduced-->
                    </span>
                    </div>
                </nav>

            </div>

        </div>
    
    
    <div class="fancy-line"></div>
    {% block contect%} {% endblock %}

    <div class="filler"></div>
    <div class="fancy-line"></div>
    <footer>


        <div class="col-xs-12 social_media_block">
            <img src="{{ url_for('static', filename='images/facebook.png') }}" alt="facebook logo" />
            <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="twitter logo" />
            <img src="{{ url_for('static', filename='images/youtube.png') }}" alt="youtube logo" />
        </div>
        <div class="col-xs-12">
            <img src="{{ url_for('static', filename='images/insta.png') }}" alt="instagram logo" />
            <img src="{{ url_for('static', filename='images/google+.png') }}" alt="google+ logo" />
            <img src="{{ url_for('static', filename='images/pin.png') }}" alt="pininterest logo" />
        </div>



    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.js"></script>
    <script type="text/javascript" src="{{ url_for( 'static', filename='js/bootstrap.min.js' ) }} "></script>

</body>

</html>
