{% extends 'base.html' %} {% block content %}
<div class="container-fluid background">
    <div class="row">
        <div class="col-sm-10 user_display">
            <p><i class="fas fa-user black_font"></i> <i class="black_font"> user:</i> {{username}} <i class="black_font">score:</i> {{ score }}

            </p>

        </div>
        <div class="col-sm-2 quit">
         <a href="{{ url_for('end_game', username=username) }}"><i class="fas fa-times-circle"></i></a>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6 char_image_holder">
            <img class="char_image" src="{{ img_src }}" alt="Picture of " />
        </div>
        <div class="col-xs-12 col-md-6  guess_form">
            <h2>Name the Character</h2>
            <form method="POST">
                <input type="text" name="guess" class="form-control-lg" /><br>
                <input type="submit" value="Enter Guess" class="btn btn-info submit" />

            </form>
            <p>{{ hint }}</p>

        </div>
    </div>


    <div class="row ">

        <div class="col-sm-12 incorrect-answer">
            <h3>Incorrect Answers</h3>
            
                
               {{ guess }}
           
            
        </div>

    </div>
</div>

<!-- bootsrap modal -->
<div class="modal" tabindex="-1" id ="myModal"role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> <i class="fas fa-info"></i> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         
        <h4>Guess the Disney Character name</h4>
        <ul>
        <li>Type answers into the text box and click submit</li>
        <li>If you are stuck type 'hint' in the text box and click submit</li>
        <li>2 points for a correct guess and 1 point after hint has been used</li>
      </ul>
      
      </div>
      <div class="modal-footer">
      
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
    
    <div class="col-sm-12">
        <img src="{{ url_for('static', filename='images/mirror3.jpg') }}"/>
    </div>
    
</div>
 
{% endblock %}

<script type="text/javascript" src="{{ url_for('static', filename='js/javascript.js') }}"></script>
