{% extends 'base.html' %} {% block content %}
<div class="container-fluid background">

    <div class="col-sm-4 user_display">
        <p><i class="fas fa-user black_font"></i> <i class="black_font"> user:</i> {{username}} <i class="black_font">score:</i> {{ score }}
            <p>

    </div>


    <div class="row">
        <div class="col-xs-12 col-md-6 char_image_holder">
            <img class="char_image" src="{{ img_src }}" alt="Picture of " />
        </div>
        <div class="col-xs-12 col-md-6  guess_form">
            <h2>Name the Character</h2>
            <form method="POST">
                <input type="text" name="guess"class="form-control-lg" /><br>
                <input type="submit" value="Enter Guess" class="btn btn-info submit" />
               
            </form>
            <p>{{ hint }}</p>
        
        </div>
    </div>


    <div class="row ">
      
        <div class="col-sm-12 incorrect-answer">
            <h3>Incorrect Answers</h3>
            <ul class="answer_list">
            {% for guess in guesses %}
            <li>{{  guess }}</li>
            {% endfor %}
            </ul>
        </div>

    </div>
</div>
{% endblock %}
