{% extends 'base.html' %} {% block content %}




<div class="row">
 <div class="col-sm-12 col-md-6 ">
  <div class="animatedParent">
   <div class="animated bounceInUp box">
    <div class="game-1">
     <h4 class="game_divs">Character Guess</h4>
     <button class="game_button"><a href="{{ url_for('user') }}">PLAY</a></button>
    </div>
   </div>
  </div>
 </div>

 <div class="col-sm-12 col-md-6">
  <div class="animatedParent">
   <div class="animated bounceInUp box">
    <div class="game-2">
     <h4 class="game_divs">Magic Castle</h4>
  <button class="game_button"><a href="">Coming Soon</a></button>
    </div>
   </div>
  </div>
 </div>

 <div class="col-sm-12 col-md-6">
  <div class="animatedParent">
   <div class="animated bounceInUp box">
    <div class="game-3">
     <h4 class="game_divs">Fish Swim</h4>
     <button class="game_button"><a href="">Coming Soon</a></button>
    </div>
   </div>
  </div>
 </div>



 <div class="col-sm-12 col-md-6">
  <div class="animatedParent">
   <div class="animated bounceInUp box">
    <div class="game-4">
     <h4 class="game_divs">Baddie Bandito</h4>
     <button class="game_button"><a href="">Coming Soon</a></button>
    </div>
   </div>
  </div>
 </div>


</div>
<br>
<br>
<div class="row">

 <div class="col-sm-12 ">
  <div class="scoreboard">

   <div class="row">
    <div class="col-sm-12 scoreboard_header">
     <img src="{{ url_for('static', filename='images/score_board.png') }}"></img>
    </div>
   </div>

   <div class="row">
    <div class="col-sm-12 col-lg-6 offset-lg-3 high_scores">
     {% for value in high_score %}
     <ul>
      <li>{{ value }}</li>
     </ul>
     {% endfor %}
     
     <p> <img src="{{ url_for('static', filename='images/1.png') }}" class="number" /><i class="score_text"> {{x[0]["user"]}}  {{x[0]["score"]}}</i> </p>
     <p> <img src="{{ url_for('static', filename='images/2.png') }}" class="number" /><i class="score_text">{{x[1]["user"]}}  {{x[1]["score"]}}</i> </p>
     <p> <img src="{{ url_for('static', filename='images/3.png') }}" class="number" /><i class="score_text">{{x[2]["user"]}}  {{x[2]["score"]}}</i> </p>
     <p> <img src="{{ url_for('static', filename='images/4.png') }}" class="number" /><i class="score_text">{{x[3]["user"]}}  {{x[3]["score"]}}</i> </p>
     <p> <img src="{{ url_for('static', filename='images/5.png') }}" class="number" /><i class="score_text">{{x[4]["user"]}}  {{x[4]["score"]}}</i> </p>
    </div>

   </div>
  </div>
 </div>
</div>




<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.scrollme.min.js') }}"></script>

{% endblock %}
